{{> header }}

<h1>{{desc}} kontaktpersoner</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Namn</th>
      <th scope="col">Kontonummer</th>
      <th scope="col">Mail</th>
      <th scope="col">Tel</th>
      <th scope="col">Kommentar</th>
    </tr>
  </thead>
  <tbody>
    {{# contacts}}
      <tr>
          <td><a href="/contacts/{{getId}}">{{getName}}</a></td>
          <td>{{getAccount}}</td>
          <td><a href="mailto:{{getMail}}">{{getMail}}</a></td>
          <td><a href="tel:{{getPhone}}">{{getPhone}}</a></td>
          <td>{{getComment}}</td>
      </tr>
    {{/ contacts}}
  </tbody>
</table>

{{> footer }}
