{{% FILTERS }}
<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Workbench2</title>
<script src="{{links.trimmings_js.href}}"></script>
<link href="{{links.bootstrap_css.href}}" rel="stylesheet">

<style>
body {padding-top: 5rem;}
h1 {padding-bottom: 1rem;}
a .wb-icon {fill: grey;}
a:hover .wb-icon {fill: lightgrey;}
.wb-margin-top {margin-top: 2rem;}
.wb-contacts-table tbody tr {display: none;}
.wb-display-active tr.wb-active {display: table-row;}
.wb-display-blocked tr.wb-blocked {display: table-row;}
.wb-display-banned tr.wb-banned {display: table-row;}
button.wb-active, button.wb-blocked, button.wb-banned {color: darkgrey!important;}
.wb-display-active button.wb-active, .wb-display-blocked button.wb-blocked, .wb-display-banned button.wb-banned {color: white!important;}

@media screen and (max-width: 750px) {
  .wb-screen-medium {display: none;}
}

@media screen and (max-width: 1000px) {
  .wb-screen-wide {display: none;}
}
</style>

</head>
<body class="wb-display-active wb-display-blocked">
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" data-trimmings-inline="from: main, to: main, updateLocation: true" href="{{links.billboard.href}}">W2</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" data-trimmings-inline="from: main, to: main, updateLocation: true" href="{{links.contacts.href}}">
                <span class="wb-icon">{{{links.contacts.icon}}}</span>
                <span class="wb-screen-medium">Kontaktpersoner</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-trimmings-inline="from: main, to: main, updateLocation: true" href="{{links.claims.href}}">
                <span class="wb-icon">{{{links.claims.icon}}}</span>
                <span class="wb-screen-medium">Ansökningar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-trimmings-inline="from: main, to: main, updateLocation: true" href="{{links.decisions.href}}">
                <span class="wb-icon">{{{links.decisions.icon}}}</span>
                <span class="wb-screen-medium">Beslut</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-trimmings-inline="from: main, to: main, updateLocation: true" href="{{links.log.href}}">
                <span class="wb-icon">{{{links.log.icon}}}</span>
                <span class="wb-screen-medium">Händelser</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{links.sign-out.href}}">
                <span class="wb-icon">{{{links.sign-out.icon}}}</span>
                <span class="wb-screen-medium">Logga ut</span>
            </a>
        </li>
    </ul>
</nav>

<main role="main" class="container">

{{# alert:success}}
    <div class="alert alert-success" role="alert">{{{.|nl2br}}}</div>
{{/ alert:success}}

{{# alert:error}}
    <div class="alert alert-danger" role="alert">{{{.|nl2br}}}</div>
{{/ alert:error}}
