<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8" />
<title>Workbench2</title>
<script src="/trimmings.js"></script>
</head>
<body>

<nav>
<a
data-trimmings-inline="from: main, to: main, updateTitle: true, updateLocation: true"
href="/contacts"
>
Apples
</a>
<a
data-trimmings-inline="from: main, to: main, updateTitle: true, updateLocation: true"
href="/"
>
Bananas
</a>
<a
data-trimmings-inline="from: main, to: main, updateTitle: true, updateLocation: true"
href="/"
>
Cake
</a>
</nav>

<main>
